@using Gecko.Bcon.Web.Models
@using TwitterBootstrapMVC.Controls
@model Gecko.Bcon.Web.Models.ProfileEditViewModel
@{
    ViewBag.Title = "Update ";
}
<script language="javascript" type="text/javascript">

   
</script>
<ul class="breadcrumb">
    <li>@Html.Bootstrap().ActionLink("Home", "Index", "Home")<span class="divider"></span></li>
    <li>@Html.Bootstrap().ActionLink("Profile Details", "Details", "Profile")<span class="divider"></span></li>
    <li>
        Update
    </li>
</ul>

<div class="well well-large span8 offset2">
    <h2>Create your Bcon profile</h2>

    @using (Html.BeginForm("Update", "Profile", FormMethod.Post, new {@class = "form-horizontal", enctype = "multipart/form-data"}))
    {
        <fieldset class="">
            <legend>Your Name</legend>

            @Html.Bootstrap().ControlGroup().TextBoxFor(x => x.FirstName).Label().ShowRequiredStar(true)

            @Html.Bootstrap().ControlGroup().TextBoxFor(x => x.LastName).Label()
            @if (string.IsNullOrEmpty(Model.ProfilePhoto))
            {
                @Html.Bootstrap().ControlGroup().FileFor(x => x.ProfilePhoto).Label().ShowRequiredStar(false)
            }
            else
            {
                <div class=" control-group">
                    <div>
                            <img alt="Profile image" src="/UserContent/@Model.ProfilePhoto"/>
                        </div>
                    <label class="">
                        <input type="checkbox" value="True" name="DeleteProfileImage" />
                        Delete my profile image
                    </label>
                </div>
            }
            
            
        </fieldset>
        <fieldset>
            <legend>Emergency Contact</legend>
                
            @Html.Bootstrap().ControlGroup().TextBoxFor(x => x.EmergencyContactName).Label().LabelText("Full Name")

            @Html.Bootstrap().ControlGroup().TextBoxFor(x => x.EmergencyContanctNumber).Label().LabelText("Phone Number")

  
        </fieldset>
        <br />
        <fieldset>
            <legend>Next of Kin</legend>
                
            @Html.Bootstrap().ControlGroup().TextBoxFor(x => x.NextOfKinName).Label().LabelText("Full Name")

            @Html.Bootstrap().ControlGroup().TextBoxFor(x => x.NextOfKinNumber).Label().LabelText("Phone Number")
  
        </fieldset>
        <br />
        <fieldset class="help-block">
            <p>
                Because of privacy and data protection issues, none of the the information below is required.
                Providing this information is entirely voluntary, so if you do wish to provide your data, you need not be 
                too specific about your conditions. If you have had surgery recently, it 
                is enough to say that you have had recent surgery, with a date, rather than specifying the details. 
                
            </p>
            <p>In most cases it is enough to provide your NHS number.</p>

        </fieldset>
        <br/>
        <fieldset>
            <legend>Useful information for emergency services</legend>
            @Html.Bootstrap().HelpText("With your NHS number, medical professionals are able to look you up on the NHS database, and quickly find your medical records", HelpTextStyle.Inline)
            
            @Html.Bootstrap().ControlGroup().TextBoxFor(x => x.NHSNumber).Label().LabelText("NHS Number")
            
            @Html.Bootstrap().HelpText("You date of birth will help the Emergency call staff assess the immediacy of your situation", HelpTextStyle.Inline)

            @Html.Bootstrap().ControlGroup().TextBoxFor(x => x.DateOfBirth).HtmlAttributes(new { @class = "datepicker", data_date_format="dd/mm/yyyy" }).Label().LabelText("Date of birth")

        </fieldset>
        <br />

        <fieldset>
            <legend>Your allergies</legend>
            <div class="help-block">
                Do you have any allergies, such as Latex or Penicillin?
            </div>
            @Html.Bootstrap().ControlGroup().TextAreaFor(x => x.Allergies)
        </fieldset>
        <br />
        <fieldset>
            <legend>Your medication</legend>
            <div class="help-block">
                Are you currently taking medication? If you are taking medicines such as Warfarin, Lithium or Insulin, letting the 
                emergency services know about this will help with the assessment of your situation. It will also mean that they will be better prepared to handle your emergency.
            </div>
            @Html.Bootstrap().ControlGroup().TextAreaFor(x => x.Medication)
        </fieldset>
        <br />
        <fieldset>
            <div class="help-block">
                Do you have existing medical conditions? For example, do you have type 1 or type 2 diabetes? Are you epileptic? Do you 
                have a pacemaker or metallic implants?
            </div>
            <legend>Your medical conditions</legend>
            @Html.Bootstrap().ControlGroup().TextAreaFor(x => x.Conditions)
        </fieldset>

        using (ToolBarBuilder<ProfileEditViewModel> toolbar = Html.Bootstrap().Begin(new ToolBar()))
        {
            using (ButtonGroupBuilder<ProfileEditViewModel> group = toolbar.BeginButtonGroup(new ButtonGroup()))
            {
                @Html.Bootstrap().SubmitButton().Text("Save").Style(ButtonStyle.Danger)
                @Html.Bootstrap().ActionLinkButton("Cancel", "Index", "Home")
            }
        }
    }
</div>