@model dynamic
<body style="background-color: #222222; padding: 1em;">
    <div  class="content" style="background-color: #f3f3f3; border: 1px solid #d3d3d3; border-radius: 4px 4px 4px 4px; box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05) inset; margin-bottom: 20px; min-height: 20px; padding: 1em;">
        <p>Hi there,</p>
        <hr />
        <p><b>A message from your customer</b></p>
        <hr />
        <p><b>Name</b> @Model.Name</p>
        <p><b>Email</b> @Model.Email</p>
        <p><b>Telephone</b> @Model.Telephone</p>
        <p><b>Company Name</b> @Model.CompanyName</p>
        <div>
            <b>Comments</b>
            <pre>
                @Model.Comments
            </pre>
        </div>
    </div>
    <div class="footer" style="color: grey; font-size: small; padding: 5px" >
        <p>
            Monitor Lizard - Copyright &copy; Gecko Information Systems.
        </p>
        <p>
            You are receiving these emails because Monitor Lizard is tracking your services, if you do not wish to receive these emails, please
            delete your account.
        </p>
    </div>
</body>