@using System.Configuration
@using Gecko.Bcon.Web.Models
@using TwitterBootstrapMVC.Controls
@model RegisterModel
@{
    ViewBag.Title = "Register";
}
<div class="well well-small">
@using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal" })) {
  
    <fieldset>
        <legend>Registration Form</legend>
        
        @Html.Bootstrap().ControlGroup().TextBoxFor(x=>x.UserName).Label().ShowRequiredStar(false).LabelText("Email address")

        @Html.Bootstrap().ControlGroup().PasswordFor(x => x.Password).Label().ShowRequiredStar(false)

        @Html.Bootstrap().ControlGroup().PasswordFor(x => x.ConfirmPassword).Label()
           
        @using (ToolBarBuilder<RegisterModel> toolbar = Html.Bootstrap().Begin(new ToolBar())) {
            using (ButtonGroupBuilder<RegisterModel> group = toolbar.BeginButtonGroup(new ButtonGroup())) {
                @Html.Bootstrap().SubmitButton().Text("Register").Style(ButtonStyle.Danger)
                @Html.AntiForgeryToken()
            }
        }
    </fieldset>
}
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
